* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.footer {
    background-color: #1c1d1e;
    color: #fff;
    padding-inline: 10%;
    padding-block: 3%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-column {
    margin: 10px;
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    color: #ffa500;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 15px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ffa500;
}

.footer-column form {
    display: flex;
    flex-direction: column;
}

.footer-column input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
    color: #333;
}

.footer-column button[type="submit"] {
    padding: 8px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-column button[type="submit"]:hover {
    background-color: #e59400;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 10px;
}

.footer-bottom p {
    margin: 0px 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffa500;
}