<body>
    <app-navigation-bar></app-navigation-bar>

    <app-mini-nav></app-mini-nav>

    <section>
        <div class="firm-profile">
            <div class="firm-logo">
              <img src="/images/Spektra_Global.jpg" alt="Spektra Global Logo">
            </div>
            <div class="firm-details">
              <h2>Firm Profile</h2>
              <hr class="divider">
              <p>
                SPEKTRA is a leading firm of architects driven by the dynamic combination of designers and builders who share a potent vision easily distinguished in their creativity, strengths, and special giftings. Capitalizing on a unique understanding of an ever-evolving industry, SPEKTRA continues to build on past experiences and is well positioning itself to offer expert services to the corporate, institutional, commercial, and residential marketplace.
              </p>
              <p>
                SPEKTRA is also focused on using the most current computer technology in its design process, both to understand the design and to communicate the design to our clients. We have thus developed virtual reality tools for use in our processes.
              </p>
            </div>
          </div>
          
    </section>
    
    <app-footer></app-footer>
</body>
