<body>
    <app-navigation-bar></app-navigation-bar>

    <app-imageslider></app-imageslider>
    
    <section class="quick-access1">
        <h2>SERVICES</h2>
    </section>

    <section>
        <div class="card-grid">
            <div class="card">
                <img src="/images/2149092018.jpg" alt="Architecture">
                <div class="overlay">
                    <h2>ARCHITECTURE</h2>
                    <p>+ Read More</p>
                    <button class="visit-btn">Visit</button>
                </div>
            </div>
            <div class="card">
                <img src="/images/2149092018.jpg" alt="Interior Design">
                <div class="overlay">
                    <h2>INTERIOR DESIGN</h2>
                    <p>+ Workplace Interiors</p>
                    <p>+ Hospitality Interiors</p>
                    <button class="visit-btn">Visit</button>
                </div>
            </div>
            <div class="card">
                <img src="/images/2149092018.jpg" alt="Construction">
                <div class="overlay">
                    <h2>CONSTRUCTION</h2>
                    <p>+ Read More</p>
                    <button class="visit-btn">Visit</button>
                </div>
            </div>
            <div class="card">
                <img src="/images/2149092018.jpg" alt="Housing">
                <div class="overlay">
                    <h2>HOUSING</h2>
                    <p>+ Read More</p>
                    <button class="visit-btn">Visit</button>
                </div>
            </div>
        </div>
    </section>
    

    <app-footer></app-footer>
</body>