<body>
    <header class="navbar">
        <div class="logo">
            <img src="/images/logo_retina.png" alt="Spektra Global Logo">
        </div>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                <li class="dropdown">
                    <a routerLink="/about" routerLinkActive="active-link">About</a>
                    <div class="dropdown-content">
                        <a routerLink="/about/firm-profile">Firm Profile</a>
                        <a routerLink="/about/leadership">Leadership</a>
                        <a href="#">First Steps</a>
                        <a href="#">Career</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a routerLink="/services" routerLinkActive="active-link">Services</a>
                    <div class="dropdown-content">
                        <a href="#">Architecture</a>
                        <a href="#">Interior Design</a>
                        <a href="#">Construction</a>
                        <a href="#">Housing</a>
                        <a href="#">Pricing</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a routerLink="/projects" routerLinkActive="active-link">Projects</a>
                    <div class="dropdown-content">
                        <a routerLink="/projects/commercial">Commercial</a>
                        <a routerLink="/projects/construction" >Construction</a>
                        <a href="#">Interior</a>
                        <a href="#">Educational</a>
                        <a href="#">Healthcare</a>
                        <a href="#">Hospitality</a>
                        <a href="#">Industrial</a>
                        <a href="#">Religious</a>
                        <a href="#">Residential</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Resource Centre</a>
                    <div class="dropdown-content">
                        <a href="#">The Master Builder Show</a>
                        <a href="#">Master Builder Magazine</a>
                        <a href="#">Newsletter</a>
                        <a href="#">News</a>
                        <a href="#">Blog</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Partners</a>
                    <div class="dropdown-content">
                        <a href="#">Referrals</a>
                        <a href="#">Partners Sign in</a>
                    </div>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        
      </header>
</body>
