<body>
    <app-navigation-bar></app-navigation-bar>

    <app-mini-nav></app-mini-nav>

    <section>
        <div class="firm-profile">
            <div class="firm-logo">
              <img src="/images/will_halm-768x787.jpg" alt="Spektra Global Logo">
              <h2>William Evans Halm</h2>
              <p>Principal Architect  / CEO</p>
            </div>
            <div class="firm-logo">
                <img src="/images/karen_halm1-768x787.jpg" alt="Spektra Global Logo">
                <h2>Karen Halm</h2>
                <p>Principal Architect / COO</p>
              </div>
            <div class="firm-details">
              <h2>Leadership</h2>
              <hr class="divider">
              <p>
                William and Karen HALM are the most sought-after design and build architects in Ghana. 
                They are famous for creating iconic buildings with breadth-taking interior spaces without compromising function.
              </p>
              <p>
                They aren’t just architects, they are business leaders. 
                That means they can be creative in jointly running a design and build firm as well as managing the business to go beyond borders.
              </p>
            </div>
          </div>
          
    </section>
    
    <app-footer></app-footer>
</body>
