<body>
    <app-navigation-bar></app-navigation-bar>
  <main>
    <app-imageslider></app-imageslider>
    <section class="quick-access1">
        <h2>QUICK ACCESS</h2>
        <div class="access-cards">
            <div class="card1">
                <div class="number-box">
                    <div class="number">01</div>
                </div>
                <div class="card-content">
                    <h3>WHO WE ARE</h3>
                    <p>Spektra Global is a design and build professional firm providing architectural, interior design and build as well as construction management services for corporate institutions and private individuals in Ghana.</p>
                    <button>See More</button>
                </div>
            </div>
            <div class="card2">
                <div class="number-box">
                    <div class="number">02</div>
                </div>
                <div class="card-content">
                    <h3>RESOURCE CENTRE</h3>
                    <p>Get access to high quality material and resources to enable you to begin your project.</p>
                    <button>See More</button>
                </div>
            </div>
            <div class="card3">
                <div class="number-box">
                    <div class="number">03</div>
                </div>
                <div class="card-content">
                    <h3>OUR PROJECTS</h3>
                    <p>In line with our ethos, we engage the client from the idea conception stage. We also create various scenarios the design might be exposed to in order to explore all possible cases.</p>
                    <button>See More</button>
                </div>
            </div>
        </div>
    </section>
  
    <section class="quick-access2">
        <h2>WHAT DO YOU NEED HELP WITH TODAY</h2>
        <div class="access-cards">
            <div class="card4">
                <div class="number-box">
                    <div class="number">04</div>
                </div>
                <div class="card-content">
                    <h3>HOW TO HIRE AN ARCHITECT?</h3>
                    <p>Discover the things you need to look out for, who an architect is not, compatibility and more</p>
                    <button>See More</button>
                </div>
            </div>
            <div class="card5">
                <div class="number-box">
                    <div class="number">05</div>
                </div>
                <div class="card-content">
                    <h3>OUR SERVICES</h3>
                    <p>We provide the best design concepts for construction projects. We are your ideal partner for this phase of the project where solution-driven critical thinking, innovation and experience are leveraged in delivering timeless designs.</p>
                    <button>See More</button>
                </div>
            </div>
            <div class="card6">
                <div class="number-box">
                    <div class="number">06</div>
                </div>
                <div class="card-content">
                    <h3>PROJECT FEASIBILITY</h3>
                    <p>Project Feasibility Analysis helps you avoid project pitfalls and uncover opportunities. You will be able to understand the challenges and constraints facing your project and will give you a good foundation to proceed with your project.</p>
                    <button>See More</button>
                </div>
            </div>
        </div>
    </section>
  </main>
  <app-footer></app-footer>
</body>
